@page

<form method="post" action="model2" enctype="multipart/form-data">
    <input type="file" name="data"/>
    <input type="text" name="name" value="example" />
    <input type="submit" name="go"/>
</form>